@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 179,0.2),rgba(117, 117, 163,0.15 ),rgba(0, 0, 204,0.5)),url(image/img-bg.jpeg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.container-wrap {
    width: 900px;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 50px; */
}

.header h1{
    /* color: rgb(0, 255, 191); #00ffbf */
    text-decoration: underline;
    font-family: 'Orbition', sans-serif;
    -webkit-text-stroke: 0.75px #00ff7f;
    -webkit-text-fill-color: #90ee90;  
    animation: fill 2.5s ease-in-out infinite alternate;
}

@keyframes fill {
    from { -webkit-text-fill-color: #00ffbf; }
    to { -webkit-text-fill-color: #f0ffff; }
  }

#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: rgba(204, 255, 235,0.7);
}

::placeholder {
    color: rgba(153, 0, 204, 0.4);
    font-size: 1rem;
}

#input:focus{
    background-color: #66ddaa;
    box-shadow: 0px 0px 6px 2px rgba(140, 179, 217, 0.8);
    transition: 0.5s;
}

#search{
    margin-left: 5px;
    background: #79a6d2;
    padding: 5px 20px;
    color: #994d00;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

#search:hover{
    color: #004953;
    background-color: rgba(118, 255, 122, 0.9);
    box-shadow: 0px 0px 4px 2px rgba(207,113,175, 0.8);
    transition: 0.5s;
}

main{
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-column-gap: 25px;
    align-items: center;
    margin: 2rem 0;

    color: aliceblue;
}

.weather{
    text-align: center;
    color: aliceblue;
}

#city{
    font-family: 'Orbition', sans-serif;;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 255, 255, 1),
                 0 0 5px rgba(255, 0, 255, 1);
}

.weather img{
    width: 100px;
    height: 100px;
    border: 2px solid #bc8f8f;
    border-radius: 50%;
    filter: grayscale(60%);
    background-color: rgba(248,184,120, 0.6);
    box-shadow: 0px 0px 10px 2px rgba(102,221,170, 0.85);
}

#temperature{
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}

.temp_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

#clouds{
    font-size: 20px;
    background: rgba(77, 255, 210, 0.8);
    padding:2px 20px;
    border-radius: 15px;
    text-transform: capitalize;
    color:#003153;
    font-weight: 600;
    box-shadow: 0px 0px 6px 2px rgba(224,255,255, 0.5);
}

.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-weight: 600;
}

.next p{
    margin: 3px 0;
}

.cast_header{
    color: #9f00ff ;
    background: rgba(153, 204, 255,0.85);
    width: max-content;
    padding: 5px 20px;
    border-radius: 20px;
    font-size:  18px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: capitalize;
    box-shadow: 0px 0px 5px 2px rgba(229,204,201, 0.6);  
}

.time, .date{
    color: rgb(0, 255, 191);
}

.date{
    font-weight: 600;
}

.dayF p{
    font-weight: 600;
}

.desc, .description{
    color: rgb(153, 255, 255);
    font-size: larger;
    font-weight: 600;
    text-transform: capitalize;
}

.divider_ver, .diliver_hor{
    background: rgba(217, 217, 217,0.5);
    height: 240px;
    border-radius: 5px;
    border: 1px solid rgba(118,255,122,0.7);
}

.diliver_hor{
    width: 60%;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.forecastD{
    color: aliceblue;
}

.weekF{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.footer div {
    margin-bottom: 3px;
    color: #f8f8ff;
    font-family: Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 800;
    text-shadow: 0 0 15px rgba(0, 255, 255, 0.5),
                 0 0 5px rgba(255, 0, 255, 0.9);
}

.footer div span {
    color: #90ee90;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1),
                 0 0 7px rgba(254, 255, 255, 1);
    margin-left: 5px;
}
@media (max-width: 480px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body {
        padding: 0.5rem 0.5rem;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        grid-column-gap: 15px;
        margin: 2rem 0;
    }
    .header{
        display: block;
        text-align: center;
        margin: 0;
    }
    .header h1{
        font-size: 2.25em;
        margin-bottom: 1em;
    }
    #input{
        font-size: 1em;
        padding: 5px 10px;
        border-radius: 10px;
    }
    ::placeholder{
        font-size: 10px;
    }
    #search{
        font-size: 1em;
        padding: 5px 10px; 
        border-radius: 10px;
    }
    .weather img{
        width: 4.5rem;
        height: 4.5rem;
    }
    .temp_box{
        margin: 20px 0;
    }
    #city{
        font-size: 1.75rem;
    }
    #temperature{
        font-size: 1.5em;
        margin: 0;
        margin-left: 14px;
        margin-bottom: 5px;
    }
    #clouds{
        font-size: 1em;
        padding:2px 10px;
        border-radius: 10px;
    }
    .cast_header{
        width: max-content;
        padding: 5px 10px;
        border-radius: 15px;
        font-size:  1rem;
        margin-bottom: 25px;
    }
    .next p{
        font-size: 0.8rem;
    }
    .time {
        font-size: 0.8rem;
    }
    .desc, .description {
        font-size: 0.8rem;
    } 
    .diliver_hor{
        width: 80%;
        height: 2px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .dayF p{
        font-size: 0.8rem;
    }
    .weekF{
        gap: 4px;
    }
    .footer div {
        font-size: 0.6rem;
    }
}