/*for width < 769px */
@media (max-width: 769px) {
  .main {
    grid-column-gap: 10px;
    margin: 1rem 0;
  }
  .container-wrap {
    padding: 0% 5%;
  }
  .header {
    display: block;
    text-align: center;
    margin: 0 0 2rem 0;
  }
  .header h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
  #input {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
  }
  #input::placeholder {
    font-size: 0.9rem;
  }
  #search {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .weather img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .temp_box {
    margin: 20px 0;
  }
  #city {
    font-size: 1.25rem;
  }
  #temperature {
    font-size: 1.75rem;
    margin: 0;
    margin-left: 14px;
    margin-bottom: 5px;
  }
  #clouds {
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 10px;
  }
  .cast_header {
    width: max-content;
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    font-size: 1rem;
  }
  #error {
    font-size: 1rem;
  }
  .warning {
    font-size: 1rem;
  }
  .next {
    margin: 5px 0;
  }
  .next p {
    font-size: 0.8rem;
  }
  .time {
    font-size: 0.8rem;
  }
  .desc,
  .description {
    font-size: 0.7rem;
  }
  .divider_ver {
    width: 2px;
    height: 80%;
  }
  .divider_hor {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .dayF {
    margin: auto 1px;
  }
  .dayF p {
    font-size: 0.8rem;
  }
  .weekF {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .footer div {
    font-size: 0.6rem;
  }
  noscript h3 {
    margin: 0 5%;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
  }
}
/*for width < 512px */
@media (max-width: 512px) {
  body {
    align-items: start;
    margin-top: 10%;
  }
  .container-wrap {
    padding: 0% 7%;
  }
  .main {
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
    margin: 0;
  }
  .header {
    margin: 0 0 1rem 0;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .divider_ver {
    width: 100%;
    height: 2px;
    margin: 0 auto;
  }
  .divider_hor {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  #city {
    font-size: 1.75rem;
  }
  .weather__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .temp_box {
    gap: 10px;
    margin: 5px 0;
  }
  .temp_box img {
    width: 3.5rem;
    height: 3.5rem;
  }
  #temperature {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
  }
  #clouds {
    width: fit-content;
    margin: auto;
  }
  .templist {
    padding: 0 1rem;
  }
  .next {
    margin: 2px 0;
    justify-content: space-between;
  }
  .next p {
    font-size: 1rem;
  }
  #error {
    font-size: 1.75rem;
  }
  .warning {
    font-size: 1.75rem;
  }
}
